<div id="app">
    <div id="header">
        <button style="display: flex;" (click)="openCreateWidgetDialog($event)">ADD WIDGET</button>
        <!-- Place clocks here -->
        <!-- <app-digital-clock></app-digital-clock>
        <button id="add-widget-button" (click)="openCreateWidgetDialog($event)">ADD WIDGET</button> -->
    </div>
    <div #container id="container">
        <canvas #mainCanvas id="main-canvas">
        </canvas>
        <ng-template #widgetContainer appMessageHost *ngFor="let widget of widgets"></ng-template> 
    </div>
    <app-modal *ngIf="showModal" #addWidgetPopup></app-modal>
</div>